.category-section-container {
  padding: 64px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
}

.category-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.category-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  gap: 30px;
}

.category-title-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.category-tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 16px;
  max-width: 1120px;
}

.category-card svg {
  display: block;
}

.category-card {
  width: 160px;
  height: 128px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgb(237, 237, 237);
}

.category-card svg {
  width: 48px;
  height: 48px;
}

@media (min-width: 640px) {
  .category-tabs {
    grid-template-columns: repeat(3, 1fr);
  }
  .category-title svg {
    display: none;
  }
}

@media (min-width: 768px) {
  .category-tabs {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .category-tabs {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1280px) {
  .category-tabs {
    grid-template-columns: repeat(6, 1fr);
  }
}
