.main-banner-section {
  background: #211c24;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 769px;
}

.main-banner-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  gap: 48px;
}

.main-banner-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.main-banner-label {
  color: #909090;
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
}

.main-banner-title {
  font-size: 72px;
  font-weight: 100;
  line-height: 72px;
  text-align: center;
  margin: 0;
}

.main-banner-title span {
  font-weight: 700;
}

.main-banner-description {
  font-size: 19px;
  font-weight: 400;
  color: #c0c0c0;
  text-align: center;
  line-height: 24px;
}

.main-banner-btn {
  color: white;
  padding: 16px 56px;
  border-radius: 6px;
  border: 1px solid white;
  cursor: pointer;
  width: 191px;
}

.main-banner-right {
  margin-top: 0;
}

.main-banner-img {
  max-width: 406px;
}

@media (min-width: 1024px) {
  .main-banner-inner {
    flex-direction: row;
    min-width: 1064px;
    padding: 0 8px;
  }

  .main-banner-left {
    align-items: flex-start;
  }

  .main-banner-title {
    font-size: 96px;
    line-height: 72px;
    text-align: left;
  }

  .main-banner-description {
    font-size: 18px;
  }

  .main-banner-right {
    height: 600px;
  }
}
