.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 88px;
  display: flex;
  justify-content: center;
}

.header-section {
  width: 100%;
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  gap: 40px;
}

.header-nav {
  display: flex;
  gap: 52px;
  color: #b2b2b2;
}

.header-nav .active-nav {
  color: black;
}

.header-search {
  background-color: #f5f5f5;
  flex: 1;
  border-radius: 10px;
  padding: 16px;
}

.header-icons {
  display: flex;
  gap: 24px;
}

.header-icons svg {
  width: 24px;
  height: 24px;
}

.icon-box {
  width: 32px;
  height: 32px;
  display: block;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-bar input {
  flex: 1;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin: 2px;
}

.search-bar input:focus {
  outline: none;
}

.hamburger-icons {
  display: none;
}

@media (max-width: 1024px) {
  .header-search,
  .header-nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-icons {
    display: none;
  }

  .hamburger-icons {
    display: block;
  }
}
